{
  mode: 'production',
  target: 'web',
  context: '/Users/timkelty/Desktop/vue-scss',
  stats: {
    children: false,
    entrypoints: false,
    modules: false
  },
  node: {
    Buffer: false,
    fs: 'empty',
    tls: 'empty'
  },
  output: {
    path: '/Users/timkelty/Desktop/vue-scss/build',
    publicPath: '/',
    filename: 'assets/[name].[contenthash:8].js'
  },
  resolve: {
    extensions: [
      '.wasm',
      '.mjs',
      '.jsx',
      '.vue',
      '.js',
      '.json'
    ]
  },
  module: {
    rules: [
      /* neutrino.config.module.rule('html') */
      {
        test: /\.html$/,
        use: [
          /* neutrino.config.module.rule('html').use('html') */
          {
            loader: '/Users/timkelty/Desktop/vue-scss/node_modules/html-loader/index.js',
            options: {
              attrs: [
                'img:src',
                'link:href'
              ]
            }
          }
        ]
      },
      /* neutrino.config.module.rule('compile') */
      {
        test: /\.(mjs|jsx|js)$/,
        include: [
          '/Users/timkelty/Desktop/vue-scss/src',
          '/Users/timkelty/Desktop/vue-scss/test'
        ],
        use: [
          /* neutrino.config.module.rule('compile').use('babel') */
          {
            loader: '/Users/timkelty/Desktop/vue-scss/node_modules/babel-loader/lib/index.js',
            options: {
              cacheDirectory: true,
              babelrc: false,
              configFile: false,
              presets: [
                [
                  '/Users/timkelty/Desktop/vue-scss/node_modules/@babel/preset-env/lib/index.js',
                  {
                    debug: false,
                    useBuiltIns: 'entry',
                    targets: {
                      browsers: [
                        'last 2 Chrome versions',
                        'last 2 Firefox versions',
                        'last 2 Edge versions',
                        'last 2 Opera versions',
                        'last 2 Safari versions',
                        'last 2 iOS versions'
                      ]
                    }
                  }
                ]
              ],
              plugins: [
                '/Users/timkelty/Desktop/vue-scss/node_modules/@babel/plugin-syntax-dynamic-import/lib/index.js'
              ]
            }
          }
        ]
      },
      /* neutrino.config.module.rule('style') */
      {
        test: /\.module\.(s?css)$/,
        exclude: [
          []
        ],
        use: [
          /* neutrino.config.module.rule('style').use('extract') */
          {
            loader: '/Users/timkelty/Desktop/vue-scss/node_modules/mini-css-extract-plugin/dist/loader.js'
          },
          /* neutrino.config.module.rule('style').use('css') */
          {
            loader: '/Users/timkelty/Desktop/vue-scss/node_modules/css-loader/index.js',
            options: {
              importLoaders: 1,
              modules: true
            }
          },
          /* neutrino.config.module.rule('style').use('sass') */
          {
            loader: 'sass-loader'
          }
        ]
      },
      /* neutrino.config.module.rule('font') */
      {
        test: /\.(eot|ttf|woff|woff2)(\?v=\d+\.\d+\.\d+)?$/,
        use: [
          /* neutrino.config.module.rule('font').use('file') */
          {
            loader: '/Users/timkelty/Desktop/vue-scss/node_modules/file-loader/dist/cjs.js',
            options: {
              name: 'assets/[name].[hash:8].[ext]'
            }
          }
        ]
      },
      /* neutrino.config.module.rule('image') */
      {
        test: /\.(ico|png|jpg|jpeg|gif|svg|webp)(\?v=\d+\.\d+\.\d+)?$/,
        use: [
          /* neutrino.config.module.rule('image').use('url') */
          {
            loader: '/Users/timkelty/Desktop/vue-scss/node_modules/url-loader/dist/cjs.js',
            options: {
              limit: 8192,
              name: 'assets/[name].[hash:8].[ext]'
            }
          }
        ]
      },
      /* neutrino.config.module.rule('vue') */
      {
        test: /\.vue$/,
        use: [
          /* neutrino.config.module.rule('vue').use('vue') */
          {
            loader: '/Users/timkelty/Desktop/vue-scss/node_modules/vue-loader/lib/index.js'
          }
        ]
      }
    ]
  },
  optimization: {
    minimize: true,
    splitChunks: {
      chunks: 'all',
      maxInitialRequests: 5,
      name: false
    },
    runtimeChunk: 'single'
  },
  plugins: [
    /* neutrino.config.plugin('html-index') */
    new (require('/Users/timkelty/Desktop/vue-scss/node_modules/html-webpack-plugin/index.js'))(
      {
        template: '/Users/timkelty/Desktop/vue-scss/node_modules/@neutrinojs/html-template/template.ejs',
        appMountId: 'root',
        lang: 'en',
        meta: {
          viewport: 'width=device-width, initial-scale=1'
        },
        filename: 'index.html',
        chunks: [
          'index'
        ],
        title: 'Vue + SCSS Example'
      }
    ),
    /* neutrino.config.plugin('extract') */
    new (require('/Users/timkelty/Desktop/vue-scss/node_modules/mini-css-extract-plugin/dist/cjs.js'))(
      {
        filename: 'assets/[name].[contenthash:8].css'
      }
    ),
    /* neutrino.config.plugin('clean') */
    new (require('/Users/timkelty/Desktop/vue-scss/node_modules/clean-webpack-plugin/index.js'))(
      [
        '/Users/timkelty/Desktop/vue-scss/build'
      ],
      {
        root: '/Users/timkelty/Desktop/vue-scss',
        verbose: false,
        allowExternal: false,
        dry: false
      }
    ),
    /* neutrino.config.plugin('vue') */
    new (require('/Users/timkelty/Desktop/vue-scss/node_modules/vue-loader/lib/plugin.js'))()
  ],
  entry: {
    index: [
      '/Users/timkelty/Desktop/vue-scss/src/index'
    ]
  }
}
